package pages

templ Login() {
	@Base() {
		<main class="flex justify-center items-center w-full h-full">
			<div class="card max-w-lg w-1/3 bg-base-200">
				<div class="card-body">
					<h1 class="card-title">Login</h1>
					<form hx-post="/login">
						<input type="text" name="username" class="input input-bordered"/>
						<input type="password" name="password" class="input input-bordered"/>
						<button type="submit">Login</button>
					</form>
				</div>
			</div>
		</main>
	}
}
